body {
  background-color: #f1dabf;
  font-family: "Lucida Console", Monaco, monospace;
  /*font-family: "Courier New", Courier, monospace;*/
  
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
}

/* 
  Trust only in source young Luke:
  This code is grabbed from Bootstrap
 */
.container {
  margin: 0 auto;
  width: 70%;
}
@media (min-width: 768px) {
  .container {
    /*width: 750px;*/
    width: 80%;
  }
}
@media (min-width: 992px) {
  .container {
    /*width: 970px;*/
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .container {
    /*width: 1170px;*/
    width: 65%;
  }
}